__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env


*.crc
.sparkStaging/


*.p8
*.pem
*.key


.vscode/
.idea/
.cursor/


.DS_Store
Thumbs.db

  

.venv/
data/processed/
dbt_supply_chain/target/
dbt_supply_chain/logs/
*.log
logs/
*.p8
dbt_supply_chain/dbt_packages/